@model Student
@{
    ViewData["Title"] = "Student Index";
}
<!DOCTYPE html>
<body>
    <h2>Select your access level.</h2>
    <form asp-controller="Student" asp-action="GetId" method="post">
        <div class="form-group">
            <label for="id">Enter your Access Level</label>
            <input for="id" />
            <span for="id" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" />
        </div>
        </form>
    <h5><partial name ="_StudentList" /></h5>
</body>