@page
@model Student
@{
    ViewData["Title"] = "Student Index";
}
<!DOCTYPE html>
<body>
    <h2>Select your access level.</h2>
    <form>
        <div class="form-group">
            <label for="ID">Enter your Access Level</label>
            <input for="ID" />
            <span for="ID" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</body>